body {
    background-color: lightgray;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 10%;
    text-align: center
}

.box {
    background-color: darkgray;
    position: fixed;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: darkgray;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 20pt;
    top: 0;
    /* padding: 15pt; */
    margin: 5pt;
    width: 120pt;
}

.blog {
    padding-top: 70pt;
    top: 100pt;
    margin: 15pt;
}

p {
    margin: 20pt;
    font-size: 120%;
}

h3 {
    text-align: left;
    ;
}