.navbar-container {
    background: purple;
    height: 40pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}