head {
    border: 12px;
    border-color: black;
}
body {
    background-color: lightgrey;
}
h1 {
    font-size: 4em;
    text-align: center
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.blueText {
    color: blue;
}

.redText {
    color: red;
    font-weight: bold
    
}
.dudeStatue img {
    width: 20%;
    height: auto;
    float: right;
    padding: 15px;
}
.column {
    float: left;
    width: 31%;
    padding: 10px;
    height: auto;
  }